body {
	padding: 0;
	margin: 0;
	background: url(img/bg001.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.wrapper {
	max-width: 850px;
	margin: 0 auto;
	padding-top: 100px;	
}
table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 700px;
	height: 700px;
}
td {
	background: url(img/middle.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.top-middle {
	background: url(img/top-middle.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.bottom-middle {
	background: url(img/bottom-middle.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.left-middle {
	background: url(img/left-middle.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.right-middle {
	background: url(img/right-middle.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.top-left {
	background: url(img/top-left.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.top-right {
	background: url(img/top-right.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.bottom-left {
	background: url(img/bottom-left.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.bottom-right {
	background: url(img/bottom-right.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.stone-black {
	background: url(img/stone-black.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.stone-white {
	background: url(img/stone-white.png);
	background-size: contain;
	background-repeat: no-repeat;
}